@import "../../variables.modules";

.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  padding: 2rem;
}

.content {
  text-align: center;

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: $purple;
  }

  p {
    font-size: 1.5rem;
    color: $pink;
  }
}
