@use 'styles/variables.module.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

// Test styles to verify SCSS is working
.app {
  background-color: $dark;
  color: $white;
  padding: 1rem;
}

// Add your module-specific styles here
